    <div class="container">
      <div class="page-header">
        <h2>Ember Firebase Login Example.</h2>
        <p>You will need to sign up for <a href="https://www.firebase.com/" target="new">Firebase.</a> Their documentation is good, and you can find out more about how it works <a href="https://www.firebase.com/how-it-works.html" target="new">here.</a></p>
        <p>For detailed instructions please view the included README or check it out on <a href="https://github.com/levimoore/Ember-Firebase-Login-Example" target="new">Github.</a>
      </div>